<div class="workout-list">
  <mat-spinner *ngIf="this.spinner" class="spinner"></mat-spinner>

  <span class="no-workouts" *ngIf="!this.spinner && !this.workouts.size"
    >No workouts yet<br />
    <a routerLink="/create" routerLinkActive="active" color="accent"
      >Create one now</a
    ></span
  >

  <mat-accordion *ngIf="!this.spinner" class="workout-list-panel">
    <mat-expansion-panel *ngFor="let workout of workouts.values()" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ workout.name }}
        </mat-panel-title>
        <mat-panel-description>
          {{ workout.description }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <mat-list>
          <mat-list-item *ngFor="let e of workout.exercises">
            <div class="info-short">
              <div>
                <span>{{ this.exercises.get(e.exercise).name }} </span>
                <span class="sets-reps"
                  >{{ e.sets }} sets X {{ e.reps }} reps</span
                >
              </div>
              <button
                mat-icon-button
                aria-label="more details"
                (click)="openDialog(this.exercises.get(e.exercise))"
              >
                <mat-icon>launch</mat-icon>
              </button>
            </div>
            <mat-divider></mat-divider
          ></mat-list-item>
        </mat-list>

        <mat-action-row>
          <button
            mat-button
            color="warn"
            (click)="this.deleteWorkout(workout._id)"
          >
            <span class="material-icons"> delete </span> Delete
          </button>
          <button
            mat-button
            color="accent"
            (click)="this.goToEditWorkout(workout._id)"
          >
            <span class="material-icons"> create </span> Edit
          </button>
          <button mat-button color="primary">
            <span class="material-icons"> print </span> Print
          </button>
        </mat-action-row>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>

  <img
    *ngIf="!this.spinner"
    src="http://localhost:4200/assets/03.jpg"
    alt=""
    width="500px"
    height="382px"
  />
</div>
