.mat-expansion-panel {
  width: 580px;
  margin-right: 1rem;
}

.no-workouts {
  align-self: center;
  justify-self: center;
  width: 580px;
  text-align: center;
  font-size: 2rem;
}

.workout-list {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.icon {
  width: 18px;
}

.info-short {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sets-reps {
  color: #673ab7;
}
