<main>
  <img [src]="this.imageUrl" usemap="#image-map" />
</main>

<map name="image-map">
  <area
    target="_self"
    (mouseleave)="clear()"
    (mouseenter)="mouseEnter('abs')"
    (click)="filter('abs')"
    alt="abs"
    title="abs"
    coords="146,188,142,234,149,280,158,322,181,339,207,316,210,278,211,251,212,215,211,186,180,181"
    shape="poly"
  />
  <area
    target="_self"
    (mouseleave)="clear()"
    (mouseenter)="mouseEnter('quadriceps')"
    (click)="filter('quadriceps')"
    alt="quadriceps"
    title="quadriceps"
    coords="121,292,138,312,155,353,175,403,179,452,178,484,164,491,148,481,136,483,120,429,116,354"
    shape="poly"
  />
  <area
    target="_self"
    (mouseleave)="clear()"
    (mouseenter)="mouseEnter('quadriceps')"
    (click)="filter('quadriceps')"
    alt="quadriceps"
    title="quadriceps"
    coords="236,295,244,369,235,435,228,466,220,480,217,488,205,484,194,490,184,480,183,441,186,401,209,348"
    shape="poly"
  />
  <area
    target="_self"
    (mouseleave)="clear()"
    (mouseenter)="mouseEnter('glutes')"
    (click)="filter('glutes')"
    alt="glutes"
    title="glutes"
    coords="521,386,545,367,567,354,590,359,609,369,629,384,639,355,640,321,637,292,626,281,607,279,594,303,578,312,560,301,545,283,531,280,518,291,512,348"
    shape="poly"
  />
  <area
    target="_self"
    (mouseleave)="clear()"
    (mouseenter)="mouseEnter('chest')"
    (click)="filter('chest')"
    alt="chest"
    title="chest"
    coords="111,163,122,171,140,178,150,181,174,175,185,178,213,181,238,167,249,159,232,137,219,122,202,116,176,125,159,120,145,120,136,124"
    shape="poly"
  />
  <area
    target="_self"
    (mouseleave)="clear()"
    (mouseenter)="mouseEnter('lats')"
    (click)="filter('lats')"
    alt="lats"
    title="lats"
    coords="650,180,634,231,620,264,591,301,580,312,553,294,538,280,527,244,516,210,508,183,505,170,525,172,548,181,566,193,581,195,594,182,616,175,645,170"
    shape="poly"
  />
  <area
    target="_self"
    (mouseleave)="clear()"
    (mouseenter)="mouseEnter('hamstrings')"
    (click)="filter('hamstrings')"
    alt="hamstrings"
    title="hamstrings"
    coords="512,369,512,433,516,472,518,498,532,477,542,486,557,508,562,480,566,435,566,391,585,390,591,441,593,491,593,506,607,485,618,474,626,493,629,505,632,470,635,443,635,415,643,386,640,366,634,385,619,379,602,368,579,361,563,362,542,378,526,387,519,389"
    shape="poly"
  />
  <area
    target="_self"
    (mouseleave)="clear()"
    (mouseenter)="mouseEnter('back')"
    (click)="filter('back')"
    alt="back"
    title="back"
    coords="561,182,547,168,536,147,523,127,504,117,525,112,548,121,573,123,615,114,643,114,623,133,612,158,597,175,584,191,573,191"
    shape="poly"
  />
  <area
    target="_self"
    (mouseleave)="clear()"
    (mouseenter)="mouseEnter('triceps')"
    (click)="filter('triceps')"
    alt="triceps"
    title="triceps"
    coords="492,236,504,218,507,198,502,176,501,156,491,166,481,176,472,218"
    shape="poly"
  />
  <area
    target="_self"
    (mouseleave)="clear()"
    (mouseenter)="mouseEnter('triceps')"
    (click)="filter('triceps')"
    alt="triceps"
    title="triceps"
    coords="656,232,647,211,650,189,653,163,670,175,681,207,679,222,670,228"
    shape="poly"
  />
  <area
    target="_self"
    (mouseleave)="clear()"
    (mouseenter)="mouseEnter('biceps')"
    (click)="filter('biceps')"
    alt="biceps"
    title="biceps"
    coords="86,239,113,198,118,171,108,163,85,170,74,216"
    shape="poly"
  />
  <area
    target="_self"
    (mouseleave)="clear()"
    (mouseenter)="mouseEnter('biceps')"
    (click)="filter('biceps')"
    alt="biceps"
    title="biceps"
    coords="280,233,283,205,276,176,256,163,242,168,244,197,258,220"
    shape="poly"
  />
  <area
    target="_self"
    (mouseleave)="clear()"
    (mouseenter)="mouseEnter('calves')"
    (click)="filter('calves')"
    alt="calves"
    title="calves"
    coords="529,586,517,570,517,538,526,494,532,485,557,512,596,513,617,479,626,518,631,545,624,570,620,587,610,578,600,587,592,591,586,558,593,520,559,521,562,538,562,566,561,590,544,577"
    shape="poly"
  />
  <area
    target="_self"
    (mouseleave)="clear()"
    (mouseenter)="mouseEnter('shoulders')"
    (click)="filter('shoulders')"
    alt="shoulders"
    title="shoulders"
    coords="81,162,84,136,100,120,129,117,129,133,114,155,109,158,93,163"
    shape="poly"
  />
  <area
    target="_self"
    (mouseleave)="clear()"
    (mouseenter)="mouseEnter('shoulders')"
    (click)="filter('shoulders')"
    alt="shoulders"
    title="shoulders"
    coords="225,120,238,138,256,159,272,166,273,136,257,116"
    shape="poly"
  />
  <area
    target="_self"
    (mouseleave)="clear()"
    (mouseenter)="mouseEnter('shoulders')"
    (click)="filter('shoulders')"
    alt="shoulders"
    title="shoulders"
    coords="482,166,502,152,507,166,547,177,534,145,523,132,499,120,485,132,481,150"
    shape="poly"
  />
  <area
    target="_self"
    (mouseleave)="clear()"
    (mouseenter)="mouseEnter('shoulders')"
    (click)="filter('shoulders')"
    alt="shoulders"
    title="shoulders"
    coords="610,171,645,166,649,160,662,166,671,153,670,129,659,116,645,119,632,131,620,149"
    shape="poly"
  />
</map>
