<main>
  <section>
    <h1>Register</h1>
    <form>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          required
          #email
          (change)="this.auth.setEmail(email.value)"
        />
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          required
          #pass
          (change)="this.auth.setPassword(pass.value)"
        />
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Set a Goal</mat-label>
        <mat-select [(value)]="goalSet">
          <mat-option *ngFor="let goal of goals" [value]="goal.value">
            {{ goal.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <a mat-flat-button color="primary" (click)="this.register()"
        >Sign Up</a
      >
      <p>
        Already a member?
        <a routerLink="/login" routerLinkActive="active" color="accent"
          >Log in now.</a
        >
      </p>
    </form>
  </section>

  <img src="http://localhost:4200/assets/02.jpg" alt="" width="500px" />
</main>
