<main>
  <img src="http://localhost:4200/assets/01.jpg" alt="" width="800px" />
  <div>
    <p>
      WorkoutCreator allows you to build your own workout from scratch to fit
      your fitness needs.
    </p>
    <div class="action-buttons">
      <a
        routerLink="/create"
        mat-flat-button
        color="accent"
        routerLinkActive="active"
        >Create a Workout</a
      >
      <a
        routerLink="/register"
        mat-stroked-button
        color="accent"
        routerLinkActive="active"
        >Sign Up for Free</a
      >
    </div>
  </div>
</main>
