<header>
  <div class="logo">
    <strong>WORKOUT</strong>
    <span>CREATOR</span>
  </div>
  <nav class="navbar-links">
    <a routerLink="/" mat-button routerLinkActive="active">Home</a>
    <a routerLink="/exercises" mat-button routerLinkActive="active"
      >Exercises</a
    >
    <a routerLink="/create" mat-button routerLinkActive="active"
      >Create Workout</a
    >

    <button
      mat-button
      [matMenuTriggerFor]="menu"
      *ngIf="this.auth.isLogin()"
    >
      Profile
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="/workouts" routerLinkActive="active"
        >My Workouts</a
      >
      <a mat-menu-item routerLink="/fitlog" routerLinkActive="active"
        >Fitness Log</a
      >
      <a mat-menu-item routerLink="/account" routerLinkActive="active"
        >Account</a
      >
    </mat-menu>

    <a
      routerLink="/login"
      mat-button
      routerLinkActive="active"
      (click)="this.auth.logout()"
      *ngIf="this.auth.isLogin()"
      >Logout</a
    >
    <a
      routerLink="/login"
      mat-stroked-button
      color="primary"
      routerLinkActive="active"
      *ngIf="!this.auth.isLogin()"
      >Login</a
    >
    <a
      routerLink="/register"
      mat-flat-button
      color="primary"
      routerLinkActive="active"
      *ngIf="!this.auth.isLogin()"
      >Sign Up</a
    >
  </nav>
</header>
