<div class="exercise-drag-drop" *ngIf="!spinner">
  <div class="container" [dragula]="EXERCISES" [(dragulaModel)]="exercises">
    <div *ngFor="let exercise of exercises">{{ exercise.name }}</div>
  </div>
  <div
    class="container"
    [dragula]="EXERCISES"
    [(dragulaModel)]="workoutExercises"
  >
    <div *ngFor="let workoutExercise of workoutExercises">
      <span>{{ workoutExercise.name }}</span>
      <mat-form-field appearance="fill">
        <input matInput type="number" min="1">
        <span matSuffix>reps</span>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <input matInput type="number" min="1">
        <span matSuffix>sets</span>
      </mat-form-field>
    </div>
  </div>
</div>

<mat-spinner *ngIf="this.spinner" class="spinner"></mat-spinner>
