.exercise-drag-drop {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slider {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-left: 2rem;
}

.container {
  height: 500px;
  overflow-y: scroll;
}

.spinner {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.exercises-left {
  width: 400px;
  text-align: left;
}

.exercises-right {
  width: 600px;
  text-align: left;
  background-color: #b39cdb;
}

.mat-form-field {
  width: 100px;
  height: 60px;
}

.exercise-left,
.exercise-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}

.exercise-left-actions,
.exercise-right-actions {
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.exercise-left-name,
.exercise-right-name {
  word-break: break-word;
}

.no-exercises-message {
  color: white;
  font-size: 2rem;
  display: inline-block;
  text-align: center;
  margin-top: 200px;
}
