<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ this.exercise.name }}</mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    [src]="this.exercise.photoUrl"
    [alt]="this.exercise.name"
  />
  <mat-card-content>
    <mat-chip-list aria-label="exercise details">
      <mat-chip>{{ this.exercise.level }}</mat-chip>
      <mat-chip color="primary" selected>{{ this.exercise.type }}</mat-chip>
      <mat-chip color="accent" selected>{{
        this.exercise.muscleGroups[0]
      }}</mat-chip>
    </mat-chip-list>
    <p>
      {{ this.exercise.description.substr(0, 100) + "&hellip;" }}
    </p>
    <mat-card-actions align="end">
      <button
        mat-icon-button
        color="warn"
        aria-label="add to favorites"
        [disabled]="!this.user"
        (click)="
          this.user && this.user.favoriteExercises.includes(this.exercise._id)
            ? removeFavorite(this.exercise._id)
            : addFavorite(this.exercise._id)
        "
      >
        <mat-icon
          *ngIf="
            this.user &&
              this.user.favoriteExercises.includes(this.exercise._id);
            else notAdded
          "
          >favorite</mat-icon
        >
      </button>
      <ng-template #notAdded><mat-icon>favorite_border</mat-icon></ng-template>
      <button mat-icon-button aria-label="more details" (click)="openDialog()">
        <mat-icon>launch</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
